<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>MacroLink Dashboard</title>
    <link rel="stylesheet" href="/static/min/dashboard.min.css" />
  </head>
  <body>
    <div class="menu row">
      <h1>Device Dashboard</h1>
      <a href="/">
        <div>Macro Panel</div>
      </a>
    </div>
    <div class="container">
      <div class="dashboard" id="green-dashboard">
        <div class="row">
          <h2 style="color: greenyellow">Green MacroLink</h2>
          <button class="restart" id="green-restart">🔄 Reboot</button>
        </div>
        <div id="green-error"></div>
        <div class="row">
          <div class="card">
            <div class="status-field">
              <strong>Safe Mode:</strong> <span id="green-safe_mode">–</span>
            </div>
            <div class="status-field">
              <strong>Filesystem:</strong> <span id="green-filesystem">–</span>
            </div>
            <div class="status-field">
              <strong>USB Mode:</strong> <span id="green-usb_mode">–</span>
            </div>
            <div class="status-field">
              <strong>Version:</strong> <span id="green-version">–</span>
            </div>
          </div>
          <div class="card">
            <div class="status-field">
              <strong>RSSI:</strong> <span id="green-rssi">–</span>
            </div>
            <div class="status-field">
              <strong>IP:</strong> <span id="green-ip">–</span>
            </div>
            <div class="status-field">
              <strong>MAC:</strong> <span id="green-mac">–</span>
            </div>
            <div class="status-field">
              <strong>HTTP Requests:</strong>
              <span id="green-http_requests">–</span>
            </div>
          </div>
          <div class="card">
            <div class="status-field">
              <strong>CPU Temp:</strong> <span id="green-cpu_temp">–</span> °C
            </div>
            <div class="status-field">
              <strong>Uptime:</strong> <span id="green-uptime">–</span>
            </div>
          </div>
          <div class="card">
            <div class="status-field">
              <strong>Memory Used:</strong>
              <span id="green-memory_used">–</span>
            </div>
            <div class="status-field">
              <strong>Memory Free:</strong>
              <span id="green-memory_free">–</span>
            </div>
            <div class="status-field">
              <strong>Memory % Used:</strong>
              <span id="green-memory_percent">–</span>%
            </div>
          </div>
        </div>
        <div class="card">
          <div class="status-field">
            <strong>Last Macro:</strong> <span id="green-last_macro_ts">–</span>
          </div>
          <div class="status-field">
            <strong>Macros:</strong>
            <ul id="green-macros"></ul>
          </div>
        </div>
      </div>
      <!-- Start of blue unit dashboard -->
      <div class="dashboard" id="blue-dashboard">
        <div class="row">
          <h2 style="color: lightskyblue">Blue MacroLink</h2>
          <button class="restart" id="blue-restart">🔄 Reboot</button>
        </div>
        <div id="blue-error"></div>
        <div class="row">
          <div class="card">
            <div class="status-field">
              <strong>Safe Mode:</strong> <span id="blue-safe_mode">–</span>
            </div>
            <div class="status-field">
              <strong>Filesystem:</strong> <span id="blue-filesystem">–</span>
            </div>
            <div class="status-field">
              <strong>USB Mode:</strong> <span id="blue-usb_mode">–</span>
            </div>
            <div class="status-field">
              <strong>Version:</strong> <span id="blue-version">–</span>
            </div>
          </div>
          <div class="card">
            <div class="status-field">
              <strong>RSSI:</strong> <span id="blue-rssi">–</span>
            </div>
            <div class="status-field">
              <strong>IP:</strong> <span id="blue-ip">–</span>
            </div>
            <div class="status-field">
              <strong>MAC:</strong> <span id="blue-mac">–</span>
            </div>
            <div class="status-field">
              <strong>HTTP Requests:</strong>
              <span id="blue-http_requests">–</span>
            </div>
          </div>
          <div class="card">
            <div class="status-field">
              <strong>CPU Temp:</strong> <span id="blue-cpu_temp">–</span> °C
            </div>
            <div class="status-field">
              <strong>Uptime:</strong> <span id="blue-uptime">–</span>
            </div>
          </div>
          <div class="card">
            <div class="status-field">
              <strong>Memory Used:</strong>
              <span id="blue-memory_used">–</span>
            </div>
            <div class="status-field">
              <strong>Memory Free:</strong>
              <span id="blue-memory_free">–</span>
            </div>
            <div class="status-field">
              <strong>Memory % Used:</strong>
              <span id="blue-memory_percent">–</span>%
            </div>
          </div>
        </div>
        <div class="card">
          <div class="status-field">
            <strong>Last Macro:</strong> <span id="blue-last_macro_ts">–</span>
          </div>
          <div class="status-field">
            <div class="margin-top-1rem margin-bottom-halfrem">
              <strong>Macros:</strong>
            </div>
            <ul id="blue-macros"></ul>
          </div>
        </div>
      </div>
    </div>
    <div id="confirmModal" class="modal">
      <div class="modal-content">
        <p id="confirmMessage"></p>
        <div class="modal-buttons">
          <button id="confirmYes">Confirm</button>
          <button id="confirmNo">Cancel</button>
        </div>
      </div>
    </div>
    <div class="background-layer grid"></div>
    <div class="background-layer logo"></div>
    <div class="particles" id="tsparticles"></div>
    <script src="/static/js/min/tsparticles.bundle.min.js"></script>
    <script>
      (async () => {
        await loadAll(tsParticles);

        await tsParticles.load({
          id: "tsparticles",
          options: {
            /* options */
            fpsLimit: 20,
            fullScreen: { enable: true, zIndex: -1 },
            retina_detect: true,
            particles: {
              number: { value: 80 },
              size: { value: 1 },
              color: { value: "#ffffff" },
              links: {
                enable: true,
                color: "#ffff9c",
                distance: 110,
                opacity: 0.3,
                width: 1,
              },
              move: {
                enable: true,
                speed: 0.4,
              },
            },
          },
        });
      })();
    </script>
    <script>
      const STATIC_MACROS = {{ static_macros|tojson }};
      const DYNAMIC_MACROS = {{ dynamic_macros|tojson }};
      const NORMALIZED_MACROS = {{ normalized_macros | tojson }};
    </script>
    <script src="/static/js/min/dashboard.min.js"></script>
  </body>
</html>
