<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Web App Manifest -->
    <link rel="manifest" href="/static/manifest.json" />

    <!-- Theme color for Android -->
    <meta name="theme-color" content="#000000" />

    <!-- iOS specific -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="Macro Panel" />
    <link rel="apple-touch-icon" href="/static/icons/icon-192.png" />
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Macro Panel</title>
  </head>

  <body>
    <div class="controls">
      <div class="dropdown-container">
        <div class="dropdown-toggle" onclick="toggleDropdown()">
          <div class="dropdown-selected">Stratagems</div>
          <span class="dropdown-arrow">▼</span>
        </div>
        <div class="dropdown-list" id="macroDropdown">
          {% for macro, label in dynamic_macros.items() %} {% set image =
          macro_images[macro] %} {% set style = macro_styles.get(macro) %}
          <div class="dropdown-item" onclick="selectMacro('{{ macro }}')">
            <img
              src="{{ url_for('static', filename='images/' + image) }}"
              alt="{{ label }}"
              {%
              if
              style
              and
              style.border
              %}
              style="border: 1px solid {{ style.border }}"
              {%
              endif
              %} />
            <span>{{ label }}</span>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="user-profile">
        <div class="user-dropdown" onclick="toggleUserDropdown()">
          <div class="spaced-row">
            <div class="user-selected">Select User</div>
            <span>▼</span>
          </div>
          <div class="user-list" id="userDropdownList">
            <div class="user-item" data-user="user1" data-color="greenyellow">
              Helldiver Green
            </div>
            <div class="user-item" data-user="user2" data-color="lightskyblue">
              Helldiver Blue
            </div>
          </div>
        </div>
        <div class="profile-container">
          <!-- <select id="profileSelect" onchange="loadProfileFromServer(this)">
            <option disabled selected>-- Select Loadout --</option>
          </select> -->
          <div class="profile-dropdown" onclick="toggleProfileDropdown()">
            <div class="spaced-row">
              <div class="profile-selected">Select Loadout</div>
              <span>▼</span>
            </div>
          </div>
          <div class="profile-list" id="profileDropdownList"></div>
          <div class="modal-buttons">
            <button onclick="openQuickUpdateModal()">🔄</button>
            <button onclick="openSaveModal()">💾</button>
            <button onclick="openRenameModal()">✏️</button>
            <button onclick="openDeleteModal()">🗑️</button>
          </div>
        </div>
      </div>
      <div class="modal" id="saveModal">
        <h3>Save Loadout</h3>
        <input
          type="text"
          id="saveInput"
          placeholder="Enter Loadout name"
          style="margin: 10px 0; padding: 5px" />
        <div id="overwriteWarning" style="color: yellow; display: none">
          This will overwrite an existing loadout.
        </div>
        <div class="button-container">
          <button onclick="closeSaveModal()">Cancel</button>
          <button onclick="confirmSaveProfile()">Confirm</button>
        </div>
      </div>
      <div class="modal" id="renameModal">
        <h3>Rename Loadout</h3>
        <input
          type="text"
          id="renameInput"
          placeholder="New loadout name"
          style="margin: 10px 0; padding: 5px" />
        <div class="button-container">
          <button onclick="closeRenameModal()">Cancel</button>
          <button onclick="confirmRenameProfile()">Confirm</button>
        </div>
      </div>
      <div class="modal" id="deleteModal">
        <h3>Delete Loadout</h3>
        <p id="deleteMessage">Are you sure you want to delete this loadout?</p>
        <div class="button-container">
          <button onclick="closeDeleteModal()">Cancel</button>
          <button onclick="confirmDeleteProfile()">Confirm</button>
        </div>
      </div>
      <div class="modal" id="quickUpdateModal">
        <h3>Update Current Loadout?</h3>
        <p id="quickUpdateMessage">
          Are you sure you want to overwrite this loadout?
        </p>
        <div class="button-container">
          <button onclick="closeQuickUpdateModal()">Cancel</button>
          <button onclick="confirmQuickUpdate()">Confirm</button>
        </div>
      </div>
      <div class="remove-mode" onclick="toggleRemoveMode()" id="removeBtn">
        Remove Mode: <span id="removeStatus">OFF</span>
        <span id="removeTimer"></span>
      </div>
    </div>

    <div class="macro-grid-container">
      <div class="macro-grid" id="macroGrid">
        {% for macro, label in static_macros.items() %} {% set image =
        macro_images.get(macro) %} {% set style = macro_styles.get(macro) %}
        <div
          class="macro-button"
          {%
          if
          style
          and
          style.border
          %}
          style="border: 2px solid {{ style.border }}"
          {%
          endif
          %}>
          {% if image and image in image_files %}
          <button onclick="triggerMacro('{{ macro }}')">
            <img
              src="{{ url_for('static', filename='images/' + image) }}"
              alt="{{ label }}" />
          </button>
          {% else %}
          <button onclick="triggerMacro('{{ macro }}')">{{ label }}</button>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="connection">
      <span>> ::</span> Remote Command<span>:</span> Super Destroyer // SIGNAL
      LOCKED
    </div>
    <div class="stratagem">
      <span>::</span> STRATAGEM ARRAY STANDBY <span>::</span> CMD_QUEUE: IDLE //
      READY FOR DEPLOYMENT
    </div>
    <div class="background-layer grid"></div>
    <div class="background-layer logo"></div>
    <div class="particles" id="tsparticles"></div>
    <audio
      id="macroSound"
      src="/static/sounds/console-click.mp3"
      preload="auto"></audio>
    <audio
      id="macroMenuSound"
      src="/static/sounds/menu-open.wav"
      preload="auto"></audio>
    <audio
      id="macroAddSound"
      src="/static/sounds/macro-add.mp3"
      preload="auto"></audio>
    <audio
      id="macroRemoveSound"
      src="/static/sounds/remove-macro.mp3"
      preload="auto"></audio>
    <audio
      id="macroMaxSound"
      src="/static/sounds/error.mp3"
      preload="auto"></audio>
    <audio
      id="removeToggleSound"
      src="/static/sounds/remove-mode.mp3"
      preload="auto"></audio>
    <audio
      id="loginSound"
      src="/static/sounds/login.mp3"
      preload="auto"></audio>
    <audio
      id="cancelSound"
      src="/static/sounds/cancel.mp3"
      preload="auto"></audio>
    <audio
      id="confirmSound"
      src="/static/sounds/confirm.mp3"
      preload="auto"></audio>
    <audio id="pipSound" src="/static/sounds/pip.mp3" preload="auto"></audio>
    <script id="macro-data" type="application/json">
      {
        "macro_styles": {{ macro_styles | tojson }},
        "macro_images": {{ macro_images | tojson }},
        "image_files": {{ image_files | tojson }},
        "dynamic_macros": {{ dynamic_macros | tojson }}
      }
    </script>
    <script src="/static/js/min/main.min.js"></script>
    <script src="/static/js/min/tsparticles.bundle.min.js"></script>
    <script>
      (async () => {
        await loadAll(tsParticles);

        await tsParticles.load({
          id: "tsparticles",
          options: {
            /* options */
            fpsLimit: 20,
            fullScreen: { enable: true, zIndex: -1 },
            retina_detect: true,
            particles: {
              number: { value: 80 },
              size: { value: 1 },
              color: { value: "#ffffff" },
              links: {
                enable: true,
                color: "#ffff9c",
                distance: 110,
                opacity: 0.3,
                width: 1,
              },
              move: {
                enable: true,
                speed: 0.4,
              },
            },
          },
        });
      })();
    </script>
  </body>
</html>
